<html>

<head>
    <meta name="viewport" content="width-device-width, initial-scale=1.0">
    <title>Web</title>
    <link rel="stylesheet" href="style/style.css">
    <link href="https://fonts.google.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <div class="container">
        <div class="navbar">
            <img src="images/logo.png" alt="logo" class="logo">
            <nav>
                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">CONTACT</a></li>
                    <li><a href="">ABOUT</a></li>
                </ul>
            </nav>
        </div>

        <div class="row">
            <div class="col">
                <h1>Quotes</h1>
                <p>{{quote}}</p>
            </div>
            <div class="col">

            </div>
        </div>
    </div>
</body>

</html>